<!-- Individual listing social stream view -->

<div id="currentSocialPanel" class="hide">
  <ul id="currentSideTabs" class="nav nav-tabs nav-stacked">
    <li class="active"><a href="#chirpifyCurrentStream">Chirpify</a></li>
    <li class="hide"><a href="#twitterCurrentStream">Twitter</a></li>
    <li class="hide"><a href="#instagramCurrentStream">Instagram</a></li>
  </ul>
  <div class="content tab-content">
    <section id="chirpifyCurrentStream" class="tab-pane active">
      <div class="modal-body">
        <h5 class="lead">Chirpify Preview</h5>

        <div class="controls controls-row">
          <div class="mediaContainer">
            <div class="mediaCrop span12">
              <img class="" src="http://placedog.com/270/180" alt="Listing image">
            </div>
          </div>
        </div><!--mediaContainer-->

        <div class="previewContent controls controls-row">
          <div class="span12">

            <img class="avatar span2" src="https://twimg0-a.akamaihd.net/profile_images/2375081376/uumqlie9le94yz4unwwt_normal.jpeg" alt="ChrisTeso">
            <p class="listingText">http://chrp.in/3on Listing title and other content goes here.</p>
            <small>Posted on [timestamp] by ChrisTeso</small>

          </div><!--span12-->
        </div> <!--previewContent-->

        <div class="descContent controls controls-row">              
          <label class="control-label pull-left" for="createListingDesc">Description</label>
          <small class="charCount pull-left">0/200</small>
          <textarea id="createListingDesc" class="listingDesc" placeholder="Additional listing content can go here."></textarea>
        </div> <!--controls-row-->

        <div class="controls controls-row">

          <div class="controls controls-row">
            <button type="submit" class="btn savePanelChanges" data-loading-text="Saving...">Done</button>
            <button type="button" class="closePanel btn btn-link pull-right">Cancel</button>
          </div> <!--controls-row-->

          <div class="validate">
            <span class="span12 validateMsg alert">Validation message / info text</span>
          </div>
        </div><!--controls-row-->

      </div> <!--modal-body-->
    </section>

    <section id="twitterCurrentStream" class="tab-pane">
      <div class="modal-body">
        <h5 class="lead">Twitter Preview</h5>

        <div class="controls controls-row">
          <div class="span12">

            <img class="avatar span2" src="https://twimg0-a.akamaihd.net/profile_images/2375081376/uumqlie9le94yz4unwwt_normal.jpeg" alt="ChrisTeso">
            <p>Chris Teso <small>@ChrisTeso</small></p>

            <p class="listingText">http://chrp.in/3r5 Desc text goes here. Reply "gimme" to get for $0.00 via @Chirpify pic.twitter.com/photo</p>

          </div><!--span12-->
        </div> <!--previewContent-->

        <div class="controls controls-row">
          <div class="mediaContainer">
            <div class="mediaCrop span12">
              <img class="" src="http://placedog.com/270/180" alt="Listing image">
            </div>
          </div>
        </div><!--mediaContainer-->

        <div class="descContent controls controls-row">              
          <label class="control-label pull-left" for="createListingDesc">Extended Listing Content</label>
          <small class="charCount pull-left">0/200</small>
          <textarea id="createListingDesc" class="listingDesc" placeholder="Additional listing content can go here."></textarea>
        </div> <!--controls-row-->

        <div class="controls controls-row">

          <div class="controls controls-row">
            <button type="submit" class="btn savePanelChanges">Done</button>
            <button type="button" class="closePanel btn btn-link pull-right">Cancel</button>
          </div> <!--controls-row-->

          <div class="validate">
            <span class="span12 validateMsg alert">Validation message / info text</span>
          </div>
        </div><!--controls-row-->

      </div> <!--modal-body-->
    </section>

    <section id="instagramCurrentStream" class="tab-pane">
      <div class="modal-body">
        <h5 class="lead">Instagram Preview</h5>

        <div class="controls controls-row">
          <div class="span12">

            <img class="avatar span2" src="https://twimg0-a.akamaihd.net/profile_images/2375081376/uumqlie9le94yz4unwwt_normal.jpeg" alt="ChrisTeso">
            <p>ChrisTeso</p>

          </div><!--span12-->
        </div> <!--previewContent-->

        <div class="controls controls-row">
          <div class="mediaContainer">
            <div class="mediaCrop span12">
              <img class="" src="http://placedog.com/268/180" alt="Listing image">
            </div>
          </div>
        </div><!--mediaContainer-->

        <div class="previewContent controls controls-row">
          <div class="span12">

            <p class="commentText"><small><i class="icon-comment"></i> ChrisTeso</small> Listing title and other content goes here. Reply "buy" for $_amount via Chirpify.</p>
          </div><!--span12-->
        </div> <!--previewContent-->

        <div class="controls controls-row">

          <div class="controls controls-row">
            <button type="submit" class="btn savePanelChanges" data-loading-text="Saving...">Done</button>
            <button type="button" class="closePanel btn btn-link pull-right">Cancel</button>
          </div> <!--controls-row-->

          <div class="validate">
            <span class="span12 validateMsg alert">Validation message / info text</span>
          </div>
        </div><!--controls-row-->


      </div> <!--modal-body-->
    </section>
  </div>
</div>