<!-- Individual listing social stream view -->

<div id="newStreamPanel" class="hide">
  <ul id="sideTabs" class="nav nav-tabs nav-stacked">
    <li class="active"><a href="#chirpifyStream">Chirpify</a></li>
    <li><a href="#twitterStream">Twitter</a></li>
    <li><a href="#instagramStream">Instagram</a></li>
  </ul>

  <div class="content tab-content">
    <section id="chirpifyStream" class="tab-pane active">
      <h5>Chirpify</h5>
    </section>

    <section id="twitterStream" class="tab-pane content">
      <h5>Twitter</h5>
    </section>

    <section id="instagramStream" class="tab-pane content">
      <h5>Instagram</h5>
  </section>
  </div>
</div>