<!-- Social Streams Global modal -->
<div id="socialStreamsModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="title">Social Streams Linked</h4>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-small">Connect a profile</button>
    <p>Social account content here.</p>
  </div>
</div>