<div id="instagramGallery" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
    <h3 class="lead"># count / 100</h3>

  </div>
  <div id="gallery" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <div class="row-fluid">
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
        </div>
        <div class="row-fluid">
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
        </div>
      </div>
      <div class=" item">
        <div class="row-fluid">
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
        </div>
        <div class="row-fluid">
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
          <div class="span3"><a class="instagramPhoto" href="#"><img class="img-polaroid" src="http://placedog.com/100/100" alt="Listing image"></a></div>
        </div>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#gallery" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#gallery" data-slide="next">&rsaquo;</a>
  </div>
</div>