<!-- Individual listing social stream view -->

<div id="newSocialModal" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="title">Listing on [Social Stream]</h4>
  </div>

  <div class="modal-body">
    
    <div class="controls controls-row">
      <div class="mediaContainer span4 well">
        <div class="mediaCrop">
          <img src="http://placedog.com/300/190" alt="Listing image">
        </div>
      </div>
    </div><!--mediaContainer-->

    <div class="previewContent controls controls-row">
      <div class="span4">

        <img class="avatar span1" src="https://twimg0-a.akamaihd.net/profile_images/2375081376/uumqlie9le94yz4unwwt_normal.jpeg" alt="ChrisTeso">
        <p class="listingText">http://chrp.in/3on Listing title and content here.</b>
        <small>Posted on [timestamp] by ChrisTeso</small>

      </div>
    </div><!--userContent-->

    <div class="controls controls-row">
          
      <div class="span4">
        <label class="control-label pull-left" for="createListingDesc">Description</label>
        <small class="pull-left">0/200</small>
        <textarea id="createListingDesc" class="span4" placeholder="Additional listing content can go here."></textarea>
      </div>
    </div> <!--controls-row-->

    <div class="controls controls-row">
      <div class="span4">
          
        <span class="alert span5">Validation message / info text</span>

        <div class="controls controls-row">
          <button type="submit" class="btn" data-dismiss="modal">Done</button>

          <button type="button" class="btn btn-link pull-right" data-dismiss="modal">Cancel</button>
        </div> <!--controls-row-->
      </div>
    </div>

  </div><!--modal-body-->
</div>