<div id="transitions" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <ul class="breadcrumb flowRef">
      <li><a href="#" data-dismiss="modal">&#60; Back to Listing</a> <span class="divider">/</span></li>
      <li class="active">Transactions</li>
    </ul>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span12">
        <div class="span2">
          <dfn>Total sales</dfn>
          <h4>$200</h4>
        </div>
        <div class="span2">
          <dfn>Price</dfn>
          <h4>$20</h4>
        </div>
        <div class="span2">
          <dfn>Quantity</dfn>
          <h4>10 / 20</h4>
        </div>

        <div class="span6">
          <dfn>Filter</dfn>
          <form class="form-search form-inline">
            <input type="text" class="input-medium search-query" placeholder="User or social stream">
          </form>
        </div>
      </div><!--span12-->
    </div> <!--row-fluid-->
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Amount</th>
          <th>Quantity</th>
          <th>Social Stream</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
                <tr>
          <td>Username1</td>
          <td>$20</td>
          <td>1</td>
          <td>Twitter</td>
          <td>8.20.2012</td>
        </tr>
        <tr>
          <td>Username2</td>
          <td>$40</td>
          <td>2</td>
          <td>Instagram</td>
          <td>8.20.2012</td>
        </tr>
        <tr>
          <td>Username3</td>
          <td>$40</td>
          <td>2</td>
          <td>Twitter</td>
          <td>8.18.2012</td>
        </tr>
        <tr>
          <td>Username4</td>
          <td>$20</td>
          <td>1</td>
          <td>Twitter</td>
          <td>8.15.2012</td>
        </tr>
        <tr>
          <td>Username5</td>
          <td>$40</td>
          <td>2</td>
          <td>Instagram</td>
          <td>8.13.2012</td>
        </tr>
        <tr>
          <td>Username6</td>
          <td>$40</td>
          <td>2</td>
          <td>Instagram</td>
          <td>8.10.2012</td>
        </tr>
        <tr>
          <td>Username1</td>
          <td>$20</td>
          <td>1</td>
          <td>Twitter</td>
          <td>8.20.2012</td>
        </tr>
        <tr>
          <td>Username2</td>
          <td>$40</td>
          <td>2</td>
          <td>Instagram</td>
          <td>8.20.2012</td>
        </tr>
        <tr>
          <td>Username3</td>
          <td>$40</td>
          <td>2</td>
          <td>Twitter</td>
          <td>8.18.2012</td>
        </tr>
        <tr>
          <td>Username4</td>
          <td>$20</td>
          <td>1</td>
          <td>Twitter</td>
          <td>8.15.2012</td>
        </tr>
        <tr>
          <td>Username5</td>
          <td>$40</td>
          <td>2</td>
          <td>Instagram</td>
          <td>8.13.2012</td>
        </tr>
        <tr>
          <td>Username6</td>
          <td>$40</td>
          <td>2</td>
          <td>Instagram</td>
          <td>8.10.2012</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>