<div id="accountContainer" class="container tab-pane">
  <div class="row-fluid">
    <div class="span2">
      <div class="actions sidebar-nav">
        <ul class="subNav nav nav-tabs nav-stacked">
          <li class="active"><a ref="#userInfo"><i class="icon-list-alt"></i>Your info</a></li>
          <li class=""><a href="#notifications"><i class="icon-bell"></i>Notifications</a></li>
          <li><a href="#paymentInfo"><i class="icon-briefcase"></i>Payments</a></li>
          <li><a href="#advanced"><i class="icon-cog"></i>Advanced</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span10">
      <div class="tab-content">
        <section id="userInfo" class="tab-pane active">
          <h3>User information</h3>
        </section> <!--#userInfo-->

        <section id="notifications" class="tab-pane" >
          <h3>Notifications</h3>
        </section> <!--#notifications-->

        <section id="paymentInfo" class="tab-pane">
          <h3>Payment Info</h3>
        </section><!--#paymentInfo-->

        <section id="advanced" class="tab-pane">
          <h3>Advanced Settings</h3>
        </section><!--#paymentInfo-->
      </div>
    </div><!--.span9-->
  </div><!--.row-fluid-->
</div> <!--#accountContainer-->