<div id="createNew" class="container-fluid">
  <div class="row-fluid">
    <form class="">
    
      <div class="span7">
        <h3>Create a Listing</h3>

        <div class="controls">
          <label class="control-label" for="createTitle">Title</label>
          <input id="createTitle" class="span11" type="text" placeholder="Make it descriptive">
        </div>
      
        <div class="controls controls-row">
          
          <div class="input-prepend span5">
            <label class="control-label" for="createPrice">Price</label>
            <span class="add-on">$</span>
            <input id="createPrice" class="span10" type="text" placeholder="Price">
          </div>

          <div class="span6 input-prepend">
            <label class="control-label" for="createQty">Quantity</label>
            <input id="createQty" class="span7" type="text" placeholder="Quantity">
            or
            <label class="inline add-on" for="qtyUnlimited">
              <input id="qtyUnlimited" type="checkbox"> <small>unlimited</small>
            </label>
          </div>
        </div> <!--controls-row-->

        <div class="controls controls-row">
          
          <div class="span5">
            <label class="control-label" for="createListingType">Type</label>
            <div class="btn-group">
              <button class="btn btn-small span6">Physical</button>
              <button class="btn btn-small span6">Digital</button>
            </div>
          </div>

          <div class="span3 input-prepend">
            <label class="control-label" for="createShipTime">Ships in</label>
            <input id="createQuantity"  class="span7" type="text" placeholder="0">
            <span class="add-on">days</span>
          </div>

          <div class="span3 input-prepend">
            <label class="control-label" for="createShipCost">Cost to ship</label>
            <span class="add-on">$</span>
            <input id="createShipCost" class="span6" type="text" placeholder="0">
          </div>
        </div> <!--controls-row-->

        <div class="controls controls-row">
          <div class="span3">
            <button type="button" class="btn btn-block">Upload</button>
            <br>
            <div class="validate fileUpload breadcrumb">
              <small>Validation message / info text here.</small>
            </div>
          </div>

          <div class="mediaContainer span8">
            <div class="mediaCrop well" style="height: 200px">
            </div>
          </div>
        </div> <!--controls-row-->
          
      </div> <!--span7-->

      <div class="span5">

        <div class="controls controls-row">
          <button type="button" class="socialStreamBtns btn btn-info btn-large active span8"><i class="icon-ok icon-white"></i> Chirpify</button>

          <button type="button" class="btn span3 pull-right">edit</button>
        </div> <!--controls-row-->

        <div class="controls controls-row">
          <button type="button" class="socialStreamBtns btn btn-info btn-large active span8" data-toggle="button"><i class="icon-ok icon-white"></i> Twitter</button>

          <button type="button" class="btn span3 pull-right">edit</button>
        </div> <!--controls-row-->

        <div class="controls controls-row">
          <button type="button" class="socialStreamBtns btn btn-large span8" data-toggle="button"><i class="icon-ban-circle"></i> Facebook</button>
        </div> <!--controls-row-->

        <div class="controls controls-row">
          <div class="btn-group">
            <a id="addSocialStream" class="btn btn-block dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="con-plus-sign"></i> Add a new social stream
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
              <li><a href="#">Twitter</a></li>
              <li class="divider"></li>
              <li><a href="#">Facebook</a></li>
              <li class="divider"></li>
              <li><a href="#">Instagram</a></li>
              <li class="divider"></li>
              <li><a href="#">Tumblr</a></li>
            </ul>
          </div> <!--btn-group-->

        </div> <!--controls-row-->
      </div><!--.span5-->


      <div class="span5">
        
        <span class="alert">Validation message / info text</span>
 
        <div class="controls controls-row">
          <button type="submit" class="btn">Publish</button>
          <button type="button" class="btn">Save as draft</button>

          <button type="button" class="btn btn-link pull-right">Clear</button>
        </div> <!--controls-row-->
      </div>

    </form>

  </div>
</div>