<div id="createNew" class="container-fluid">
  <div class="row-fluid">
    <div class="span7" style="border: 1px solid red;">
      <h3>Create a Listing</h3>

      <form class="">
          <div class="controls">
            <label class="control-label" for="createTitle">Title</label>
            <input id="createTitle" class="span5" type="text" placeholder="Make it descriptive">
          </div>
        
          <div class="controls controls-row">
            
            <div class="input-prepend">
              <span class="add-on">$</span>
              <input id="createPrice" class="span2" type="text">
            </div>

            <select class="span4">
              <option>USD</option>
            </select>

            <div class="input-prepend input-append">
              <label class="control-label" for="createQuantity">Quantity</label>
              <input id="createQuantity" class="input-mini" type="text" placeholder="">
              
              <span class="add-on">
                <input type="checkbox">Unlimited
              </span>
            </div>
          </div>


          <label class="control-label" for="createListingType">Type</label>
          <div class="btn-group">
            <button class="btn">Physical</button>
            <button class="btn">Digital</button>
          </div>

          <label class="control-label" for="createShipTime">Ships in</label>
          <input type="text" id="createQuantity" placeholder="0">
          <small>days</small>

          <label class="control-label" for="createShipCost">Shipping cost</label>
          <input type="text" id="createShipCost" placeholder="0">

          <label class="control-label" for="createMedia">Media</label>
          <button type="button" class="btn">Upload</button>

          <div class="validate fileUpload">
            <p>Validation message / info text here.</p>
          </div>

          <div class="mediaContainer">
            <div class="mediaCrop">
              <img src="http://placehold.it/300x200" alt="New listing image">
            </div>
          </div>
            
          <button type="submit" class="btn">Publish</button>
          <button type="button" class="btn">Save as draft</button>
      </form>

    </div>

  </div>
</div>