<div id="editListing" class="container-fluid hide">
  <div class="row-fluid">
    <div class="span12">
      <h3>Edit Listing</h3>
      <form>
        <div class="span7">
          
          <div class="controls">
            <label class="control-label" for="createTitle">Title</label>
            <input id="createTitle" class="span11" type="text" placeholder="Make it descriptive" value="Listing title goes here, and it could be a very long title, but not toooo long">
          </div>

          <div class="controls controls-row">
            <div class="input-prepend span5">
              <label class="control-label" for="createPrice">Price</label>
              <span class="add-on">$</span>
              <input id="createPrice" class="span10" type="text" placeholder="$price amount">
            </div>

            <div class="span6 input-append">
              <label class="control-label" for="createQty">Quantity</label>
              <input id="createQty" class="span6" type="text" placeholder="qty amount">
              or
              <label class="add-on inline" for="qtyUnlimited">
                <input id="qtyUnlimited" class="checkbox" type="checkbox"> unlimited
              </label>
            </div>
          </div> <!--controls-row-->

          <div class="controls controls-row">
            <div class="span5">
              <label class="control-label" for="createListingType">Type</label>
              <div class="btn-group" data-toggle="buttons-radio">
                <button class="btn typeToggle btn-small active" type="button">Physical</button>
                <button class="typeDigital typeToggle btn btn-small" type="button">Digital</button>
              </div>

              <div class="uploadFile breadcrumb hide hidden-phone">
                <button class="btn btn-small" type="button"><i class="icon-upload"></i> Upload file</a></button>
                <small>Upload processing text.</small>
              </div>
            </div>

            <div class="span3 input-append">
              <label class="control-label" for="createShipTime">Ships in</label>
              <input id="createQuantity"  class="span6" type="text" placeholder="0">
              <span class="add-on">days</span>
            </div>

            <div class="span3 input-prepend">
              <label class="control-label" for="createShipCost">Cost</label>
              <span class="add-on">$</span>
              <input id="createShipCost" class="span5" type="text" placeholder="0">
            </div>
          </div> <!--controls-row-->

          <div class="controls controls-row createMedia">
            <div class="span3">
              <button type="button" class="btn btn-block hidden-phone">Upload</button>
              <button type="button" class="instagramGallery hide btn btn-block">Instagram</button>
              <br>
              <div class="validate fileUpload breadcrumb hidden-phone">
                <small>Validation message / info text here.</small>
              </div>
            </div>

            <div class="mediaContainer span8">
              <div class="mediaCrop">
                <img class="img-polaroid" src="http://placedog.com/310/200" alt="Listing image">
              </div>
            </div>
          </div> <!--controls-row-->

        </div> <!--span7 left content-->

        <div class="rightSocialContent span5">
          <%= erb :'shared/_currentSocialContent' %>
          <label>Social Streams</label>
          
          <div class="controls controls-row">
            <button type="button" class="btn btn-primary btn-large active span8"><i class="icon-ok icon-white pull-left"></i> Chirpify</button>

            <button type="button" id="chirpifyCurrentStream" class="editSocialStream btn span3 pull-right">edit</button>
          </div> <!--controls-row-->

          <div class="controls controls-row">
            <button type="button" class="currentSocialStreamBtns btn btn-large span8" data-toggle="button"><i class="icon-ban-circle pull-left"></i> Twitter</button>

            <button type="button" id="twitterCurrentStream" class="editSocialStream hide btn span3 pull-right">edit</button>
          </div> <!--controls-row-->

          <div class="controls controls-row">
            <button type="button" class="currentSocialStreamBtns btn btn-large span8" data-toggle="button"><i class="icon-ban-circle pull-left"></i> Instagram</button>

            <button type="button" id="instagramCurrentStream" class="editSocialStream hide btn span3 pull-right">edit</button>
          </div> <!--controls-row-->

          <div class="controls controls-row">
            <div class="btn-group">
              <a id="addSocialStream" class="btn btn-block dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-plus-sign"></i> Add a new social stream
              </a>

              <ul class="dropdown-menu pull-right">
                <li><a href="#">Facebook</a></li>
                <li class="divider"></li>
                <li><a href="#">Tumblr</a></li>
              </ul>
            </div> <!--btn-group-->
          </div> <!--controls-row-->

          <div class="controls controls-row">

            <div class="controls controls-row">
              <button type="submit" id="publishEdits" class="pubSaveListing btn btn-primary" data-loading-text="Publishing..." autocomplete="off">Publish</button>
              <button type="submit" class="pubSaveListing btn" data-loading-text="Saving..." autocomplete="off">Save as draft</button>
              <button id="editListingCancel" type="button" class="btn btn-link pull-right">Cancel</button>
            </div> <!--controls-row-->

            <div class="controls controls-row">
              <button type="submit" class="deleteListing btn btn-danger pull-left" data-loading-text="Deleting..." autocomplete="off">Delete</button>
            </div>

            <div class="validate">
              <span class="span12 validateMsg alert">Validation message / info text</span>
            </div>
          </div><!--controls-row-->

        </div> <!--span5 right content-->

      </form>
    </div> <!--span12-->
  </div> <!--row-fluid-->
</div> <!--#createNew-->