<section id="future_container" class="container tab-pane">
  <div class="row">
    <aside class="actions">
      <ul class="subNav nav nav-tabs nav-stacked">
        <li class="active"><a href="#future">...</a></li>
      </ul>
    </aside>

    <div id="listing_content" class="inner-content">
      <div class="tab-content">
        <section id="future" class="threefourth receipts receipt_view tab-pane active">
          Future content
        </section>
      
      </div>   
    </div>
  
  </div> <!--row-->
</section>