<div id="futureContainer" class="container tab-pane">
  <div class="row-fluid">
    <div class="span2">
      <div class="actions sidebar-nav">
        <ul class="subNav nav nav-tabs nav-stacked">
          <li class="active"><a href="#futureInfo"><i class="icon-road"></i>Future link</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span10">
      <div class="tab-content">
        <section id="futureInfo" class="tab-pane active">
          <h3>Future content</h3>
        </section> <!--#futureInfo-->
      </div>
    </div><!--.span9-->
  </div><!--.row-fluid-->
</div> <!--#futureContent-->