<li id="listing1" class="individualListing">
  <div class="row-fluid">
    <div class="listingImage span4"></div>

    <div class="listingPrice span6">
      <h1>$100</h1>
      <p>Blue leather hand-stitched laptop case. Longer title text here. And more goes here.</p>
    </div>

    <div class="listingExtras span2">
      <span class="listingStatus label label-info">Live</span>
      <small>08.23.2012</small>
      <button type="button" class="btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="listing2" class="individualListing">
  <div class="row-fluid">
    <div class="listingImage span4"></div>

    <div class="listingPrice span6">
      <h1>$200</h1>
      <p>Blue leather hand-stitched laptop case</p>
    </div>

    <div class="listingExtras span2">
      <span class="listingStatus label label-info">Draft</span>
      <small>08.23.2012</small>
      <button type="button" class="btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="listing3" class="individualListing">
  <div class="row-fluid">
    <div class="listingImage span4"></div>

    <div class="listingPrice span6">
      <h1>$300</h1>
      <p>Blue leather hand-stitched laptop case. Longer title text here. And more goes here.</p>
    </div>

    <div class="listingExtras span2">
      <span class="listingStatus label label-info">Live</span>
      <small>08.23.2012</small>
      <button type="button" class="btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="listing4" class="individualListing">
  <div class="row-fluid">
    <div class="listingImage span4"></div>

    <div class="listingPrice span6">
      <h1>$400</h1>
      <p>Blue leather hand-stitched laptop case</p>
    </div>

    <div class="listingExtras span2">
      <span class="listingStatus label label-info">Draft</span>
      <small>08.23.2012</small>
      <button type="button" class="btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="listing5" class="individualListing">
  <div class="row-fluid">
    <div class="listingImage span4"></div>

    <div class="listingPrice span6">
      <h1>$500</h1>
      <p>Blue leather hand-stitched laptop case. Longer title text here. And more goes here.</p>
    </div>

    <div class="listingExtras span2">
      <span class="listingStatus label label-info">Live</span>
      <small>08.23.2012</small>
      <button type="button" class="btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="listing6" class="individualListing">
  <div class="row-fluid">
    <div class="listingImage span4"></div>

    <div class="listingPrice span6">
      <h1>$600</h1>
      <p>Blue leather hand-stitched laptop case</p>
    </div>

    <div class="listingExtras span2">
      <span class="listingStatus label label-info">Draft</span>
      <small>08.23.2012</small>
      <button type="button" class="btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="listing7" class="individualListing">
  <div class="row-fluid">
    <div class="listingImage span4"></div>

    <div class="listingPrice span6">
      <h1>$700</h1>
      <p>Blue leather hand-stitched laptop case. Longer title text here. And more goes here.</p>
    </div>

    <div class="listingExtras span2">
      <span class="listingStatus label label-info">Live</span>
      <small>08.23.2012</small>
      <button type="button" class="btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="listing8" class="individualListing">
  <div class="row-fluid">
    <div class="listingImage span4"></div>

    <div class="listingPrice span6">
      <h1>$800</h1>
      <p>Blue leather hand-stitched laptop case</p>
    </div>

    <div class="listingExtras span2">
      <span class="listingStatus label label-info">Draft</span>
      <small>08.23.2012</small>
      <button type="button" class="btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>


<li id="listing9" class="individualListing">
  <div class="row-fluid">
    <div class="listingImage span4"></div>

    <div class="listingPrice span6">
      <h1>$900</h1>
      <p>Blue leather hand-stitched laptop case. Longer title text here. And more goes here.</p>
    </div>

    <div class="listingExtras span2">
      <span class="listingStatus label label-info">Live</span>
      <small>08.23.2012</small>
      <button type="button" class="btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="listing10" class="individualListing">
  <div class="row-fluid">
    <div class="listingImage span4"></div>

    <div class="listingPrice span6">
      <h1>$1000</h1>
      <p>Blue leather hand-stitched laptop case</p>
    </div>

    <div class="listingExtras span2">
      <span class="listingStatus label label-info">Draft</span>
      <small>08.23.2012</small>
      <button type="button" class="btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>


