<div class="details-fixed-adjustment">
  <div class="threefourth spacer"></div>
  <aside id="details" class="quarter">
    <form class="well">
      <legend>All activity</legend>

      <div class="control-group">
        <label class="primary">Social Streams</label>

        <label class="checkbox inline">
          <input type="checkbox"> Twitter
        </label>
        <label class="checkbox inline">
          <input type="checkbox"> Instagram
        </label>
      </div>

      <div class="control-group">
        <label class="primary">Activity</label>

        <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1"> Sale
        </label>
        <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox2" value="option2"> Fundraiser
        </label>

        <div class="clearfix"></div>

        <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox3" value="option1"> Sold
        </label>
        <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox4" value="option2"> Received
        </label>

        <div class="clearfix"></div>

        <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox5" value="option1"> Purchased
        </label>
      </div>
      
    </form>
  </aside>
</div>

