<!-- Individual listing modal -->
<div id="receiptModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="title">Individual Listing Title</h4>
  </div>
  <div class="modal-body">
    <p>Listing content here.</p>
  </div>
</div>

<!-- Individual listing social stream view -->

<div id="socialListingModal" class="modal hide" data-backdrop="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="title">Listing on Chirpify</h4>
  </div>

  <div class="modal-body">
    <div class="mediaContainer span4 well">
      <div class="mediaCrop">
        <img src="http://placedog.com/280/190" alt="Listing image">
      </div>
    </div>
  </div>
</div>