<li id="testModal">
  <div class="receiptImage pull-left">
    <img src="http://placedog.com/200/120" alt="Listing image">
  </div>

  <div class="receiptPrice pull-left">
    <h1>$1240</h1>
    <p>Blue leather hand-stitched laptop case</p>
  </div>

  <div class="receiptExtras pull-right">
    <span>Live</span>
    <small>08.23.2012</small>
    <a href="/">edit</a>
  </div>

  <div class="clearfix"></div>
</li>

<!-- Modal -->
<div id="receiptModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="title">Blue leather hand-stitched laptop case</h3>
  </div>
  <div class="modal-body">
    <p>Listing content here.</p>
  </div>
</div>


<li>
  <div class="receiptImage pull-left">
    <img src="http://placedog.com/200/120" alt="Listing image">
  </div>

  <div class="receiptPrice pull-left">
    <h1>$535</h1>
    <p>Ut nec neque vitae erat faucibus hendrerit non at nisl.</p>
  </div>

  <div class="receiptExtras pull-right">
    <span>Draft</span>
    <small>08.20.2012</small>
    <a href="/">edit</a>
  </div>

  <div class="clearfix"></div>
</li>

<li>
  <div class="receiptImage pull-left">
    <img src="http://placedog.com/200/120" alt="Listing image">
  </div>

  <div class="receiptPrice pull-left">
    <h1>$62</h1>
    <p>Nullam facilisis velit eu sapien pretium sit amet fringilla leo malesuada</p>
  </div>

  <div class="receiptExtras pull-right">
    <span>Purchased</span>
    <small>08.18.2012</small>
    <a href="/">edit</a>
  </div>

  <div class="clearfix"></div>
</li>

<li>
  <div class="receiptImage pull-left">
    <img src="http://placedog.com/200/120" alt="Listing image">
  </div>

  <div class="receiptPrice pull-left">
    <h1>$8.50</h1>
    <p>Ut nec neque vitae erat faucibus hendrerit non at nisl.</p>
  </div>

  <div class="receiptExtras pull-right">
    <span>Sold</span>
    <small>08.18.2012</small>
    <a href="/">edit</a>
  </div>

  <div class="clearfix"></div>
</li>

<li>
  <div class="receiptImage pull-left">
    <img src="http://placedog.com/200/120" alt="Listing image">
  </div>

  <div class="receiptPrice pull-left">
    <h1>$560</h1>
    <p>Nullam facilisis velit eu sapien pretium sit amet fringilla leo malesuada</p>
  </div>

  <div class="receiptExtras pull-right">
    <span>Received</span>
    <small>08.11.2012</small>
    <a href="/">edit</a>
  </div>

  <div class="clearfix"></div>
</li>

<li>
  <div class="receiptImage pull-left">
    <img src="http://placedog.com/200/120" alt="Listing image">
  </div>

  <div class="receiptPrice pull-left">
    <h1>$12</h1>
    <p>Ut nec neque vitae erat faucibus hendrerit non at nisl.</p>
  </div>

  <div class="receiptExtras pull-right">
    <span>Live</span>
    <small>08.10.2012</small>
    <a href="/">edit</a>
  </div>

  <div class="clearfix"></div>
</li>


<li>
  <div class="receiptImage pull-left">
    <img src="http://placedog.com/200/120" alt="Listing image">
  </div>

  <div class="receiptPrice pull-left">
    <h1>$8.50</h1>
    <p>Ut nec neque vitae erat faucibus hendrerit non at nisl.</p>
  </div>

  <div class="receiptExtras pull-right">
    <span>Sold</span>
    <small>08.08.2012</small>
    <a href="/">edit</a>
  </div>

  <div class="clearfix"></div>
</li>

<li>
  <div class="receiptImage pull-left">
    <img src="http://placedog.com/200/120" alt="Listing image">
  </div>

  <div class="receiptPrice pull-left">
    <h1>$15</h1>
    <p>Nullam facilisis velit eu sapien pretium sit amet fringilla leo malesuada</p>
  </div>

  <div class="receiptExtras pull-right">
    <span>Received</span>
    <small>08.06.2012</small>
    <a href="/">edit</a>
  </div>

  <div class="clearfix"></div>
</li>

<li>
  <div class="receiptImage pull-left">
    <img src="http://placedog.com/200/120" alt="Listing image">
  </div>

  <div class="receiptPrice pull-left">
    <h1>$2200</h1>
    <p>Ut nec neque vitae erat faucibus hendrerit non at nisl.</p>
  </div>

  <div class="receiptExtras pull-right">
    <span>Live</span>
    <small>08.02.2012</small>
    <a href="/">edit</a>
  </div>

  <div class="clearfix"></div>
</li>