<li id="receipt1" class="individualReceipt">
  <div class="receiptImage pull-left">
    <img src="http://placedog.com/200/120" alt="Listing image">
  </div>

  <div class="receiptPrice pull-left">
    <h1>$50</h1>
    <p>Blue leather hand-stitched laptop case</p>
  </div>

  <div class="receiptExtras pull-right">
    <span>Purchased</span>
    <small>08.15.2012</small>
  </div>

  <div class="clearfix"></div>
</li>

