<div id="socialContainer" class="container tab-pane">
  <div class="row-fluid">
    <div class="span2">
      <div class="actions sidebar-nav">
        <ul class="subNav nav nav-tabs nav-stacked">
          <li class="active"><a href="#socialInfo"><i class="icon-list-alt"></i>Your info</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span10">
      <div class="tab-content">
        <section id="socialInfo" class="tab-pane active">
          <h3>Social settings</h3>
        </section> <!--#userInfo-->
      </div>
    </div><!--.span9-->
  </div><!--.row-fluid-->
</div> <!--#socialContainer-->