<div id="socialContainer" class="container tab-pane active">
  <div class="row-fluid">
    <div class="span2">
      <div class="actions sidebar-nav">
        <ul class="subNav nav nav-tabs nav-stacked">
          <li class="active"><a href="#socialInfo"><i class="icon-list-alt"></i>Active accounts</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span10">
      <div class="tab-content">
        <section id="socialInfo" class="tab-pane active">
          <div class="row-fluid">
            <h3>Social settings</h3>

            <div class="btn-group">
              <a class="addSocialStream btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-plus-sign"></i> Add a new social stream
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Facebook</a></li>
                <li class="divider"></li>
                <li><a href="#">Tumblr</a></li>
              </ul>
            </div> <!--btn-group-->

            <ul id="socialList" class="span12">
              <li class="span4 well well-small">
                <div class="row-fluid">
                  <div class="socialImage thumbnail span5"></div>

                  <div class="listingExtras span5">
                    <span class="socialSite label label-info">Twitter</span>
                    <small>@ChrisTeso</small>
                    <button type="button" class="removeSocialAccount btn btn-small" data-loading-text="Deactiving...">Deactivate</button>
                  </div>

                </div> <!--row-fluid-->
              </li>

              <li class="span4 well well-small">
                <div class="row-fluid">
                  <div class="socialImage thumbnail span5"></div>

                  <div class="listingExtras span5">
                    <span class="socialSite label label-info">Instagram</span>
                    <small>ChrisTeso</small>
                    <button type="button" class="removeSocialAccount btn btn-small" data-loading-text="Deactiving...">Deactivate</button>
                  </div>

                </div> <!--row-fluid-->
              </li>

              <li class="span4 well well-small">
                <div class="row-fluid">
                  <div class="socialImage thumbnail span5"></div>

                  <div class="listingExtras span5">
                    <span class="socialSite label label-info">Tumblr</span>
                    <small>christeso</small>
                    <button type="button" class="removeSocialAccount btn btn-small" data-loading-text="Deactiving...">Deactivate</button>
                  </div>

                </div> <!--row-fluid-->
              </li>
            </ul>

          </div> <!--row-fluid-->
        </section> <!--#userInfo-->
      </div>
    </div><!--.span9-->
  </div><!--.row-fluid-->
</div> <!--#socialContainer-->