<li id="receipt1" class="individualReceipt">
  <div class="row-fluid">
    <div class="receiptImage span4"></div>

    <div class="receiptPrice span6">
      <h1>$1</h1>
      <p>Blue leather hand-stitched laptop case. Longer title text here. And more goes here.</p>
    </div>

    <div class="receiptExtras span2">
      <span class="receiptStatus label label-success">Sold</span>
      <small>08.23.2012</small>
      <button type="button" class="viewMore btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="receipt2" class="individualReceipt">
  <div class="row-fluid">
    <div class="receiptImage span4"></div>

    <div class="receiptPrice span6">
      <h1>$2</h1>
      <p>Blue leather hand-stitched laptop case</p>
    </div>

    <div class="receiptExtras span2">
      <span class="receiptStatus label label-important">Purchased</span>
      <small>08.23.2012</small>
      <button type="button" class="viewMore btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="receipt3" class="individualReceipt">
  <div class="row-fluid">
    <div class="receiptImage span4"></div>

    <div class="receiptPrice span6">
      <h1>$3</h1>
      <p>Blue leather hand-stitched laptop case. Longer title text here. And more goes here.</p>
    </div>

    <div class="receiptExtras span2">
      <span class="receiptStatus label label-success">Sold</span>
      <small>08.22.2012</small>
      <button type="button" class="viewMore btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="receipt4" class="individualReceipt">
  <div class="row-fluid">
    <div class="receiptImage span4"></div>

    <div class="receiptPrice span6">
      <h1>$4</h1>
      <p>Blue leather hand-stitched laptop case</p>
    </div>

    <div class="receiptExtras span2">
      <span class="receiptStatus label label-success">Sold</span>
      <small>08.22.2012</small>
      <button type="button" class="viewMore btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="receipt5" class="individualReceipt">
  <div class="row-fluid">
    <div class="receiptImage span4"></div>

    <div class="receiptPrice span6">
      <h1>$5</h1>
      <p>Blue leather hand-stitched laptop case. Longer title text here. And more goes here.</p>
    </div>

    <div class="receiptExtras span2">
      <span class="receiptStatus label label-success">Sold</span>
      <small>08.21.2012</small>
      <button type="button" class="viewMore btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="receipt6" class="individualReceipt">
  <div class="row-fluid">
    <div class="receiptImage span4"></div>

    <div class="receiptPrice span6">
      <h1>$6</h1>
      <p>Blue leather hand-stitched laptop case</p>
    </div>

    <div class="receiptExtras span2">
      <span class="receiptStatus label label-important">Purchased</span>
      <small>08.20.2012</small>
      <button type="button" class="viewMore btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="receipt7" class="individualReceipt">
  <div class="row-fluid">
    <div class="receiptImage span4"></div>

    <div class="receiptPrice span6">
      <h1>$7</h1>
      <p>Blue leather hand-stitched laptop case. Longer title text here. And more goes here.</p>
    </div>

    <div class="receiptExtras span2">
      <span class="receiptStatus label label-success">Sold</span>
      <small>08.20.2012</small>
      <button type="button" class="viewMore btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="receipt8" class="individualReceipt">
  <div class="row-fluid">
    <div class="receiptImage span4"></div>

    <div class="receiptPrice span6">
      <h1>$8</h1>
      <p>Blue leather hand-stitched laptop case</p>
    </div>

    <div class="receiptExtras span2">
      <span class="receiptStatus label label-success">Sold</span>
      <small>08.19.2012</small>
      <button type="button" class="viewMore btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="receipt9" class="individualReceipt">
  <div class="row-fluid">
    <div class="receiptImage span4"></div>

    <div class="receiptPrice span6">
      <h1>$9</h1>
      <p>Blue leather hand-stitched laptop case. Longer title text here. And more goes here.</p>
    </div>

    <div class="receiptExtras span2">
      <span class="receiptStatus label label-success">Sold</span>
      <small>08.19.2012</small>
      <button type="button" class="viewMore btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>

<li id="receipt10" class="individualReceipt">
  <div class="row-fluid">
    <div class="receiptImage span4"></div>

    <div class="receiptPrice span6">
      <h1>$10</h1>
      <p>Blue leather hand-stitched laptop case</p>
    </div>

    <div class="receiptExtras span2">
      <span class="receiptStatus label label-important">Purchased</span>
      <small>08.18.2012</small>
      <button type="button" class="viewMore btn btn-small">view</button>
    </div>

  </div> <!--row-fluid-->
</li>
